.git
.vs
.vscode
artifacts
build-check
debug
external
.research
.tmp-build
.tmp-egonet-server
data
src/**/bin
src/**/obj
src/**/logs
src/**/certs
*.db
*.db-*
*.sqlite
*.sqlite-*
*.pfx
*.cer
*.crt
*.key
*.log
